* {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

html,
body {
    width: 100%;
    height: 100%;
    color: #34495e;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
}

.fix::after,
.fix::before {
    clear: both;
    visibility: hidden;
    display: block;
    height: 0px;
    overflow: hidden;
    content: "clear";
}

.content {
    position: relative;
    height: 100%;
    width: calc(100% - 70px);
    left: 70px;
    top: 0;
}

.content img {
    max-width: 100%;
}

.tag {
    position: relative;
    display: inline-block;
    padding: 3px 0;
    font-size: 14px;
    color: #7f8c8d;
    border-bottom: 2px solid #7f8c8d;
    margin-top: 5px;
    margin-right: 20px;
}

.tag.active,
.tag:hover {
    color: #42b983;
    border-bottom: 2px solid #42b983;
}

.page-title {
    color: #7f8c8d;
    padding: 16px 16px 16px 25px;
    font-weight: 400;
}

.list-item {
    margin: 5px 25px;
    border-bottom: 1px solid #ececec;
}

.out-side{
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.btn {
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    background: #fff;
    border: 1px solid #bfcbd9;
    border-color: #c4c4c4;
    color: #1f2d3d;
    padding: 10px 15px;
    line-height: 1;
    white-space: nowrap;
    outline: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

.btn-primary {
    background-color: #42b983;
    border-color: #42b983;
    color: #fff;
}

.btn-primary:hover {
    background-color: #5BBC8F;
    border-color: #5BBC8F;
    color: #fff;
}

.btn-danger {
    background-color: #ff4949;
    border-color: #ff4949;
    color: #fff;
}

.btn-danger:hover {
    background: #ff6d6d;
    border-color: #ff6d6d;
    color: #fff;
}

.input-normal {
    border: 1px solid #bfcbd9;
    border-radius: 4px;
    box-sizing: border-box;
    height: 36px;
    outline: none;
    padding: 3px 10px;
    background-color: #ffffff;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}

.input-normal:focus {
    outline: none;
    border-color: #42b983;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .2s ease;
}
.fade-enter, .fade-leave-active {
    opacity: 0
}